.App{
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
}

h1{
  margin: 0.8rem 0;
}

.list-card{
  max-width: 400px;
}

.rapport{
  text-align: center;
}

.rapport-section{
  max-width: 500px;
}

.activites-table{
  max-width: 500px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(1, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  border: 1px solid black;
  padding-block: 0.8rem;

}

.table-content {
  max-width: 500px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  border: 1px solid black;
  border-top: none;
  padding-block: 0.8rem;
  }

.table-content > p {
  padding: 0.3rem 0;
}

.table-footer{
  max-width: 500px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  padding-block: 0.8rem;
  border: 1px solid black;
  border-top: none;
}

.card-ens{
  display: flex;
  flex-direction: column;
  align-items: center;
  border-top: 1px solid black;
}

.card-ens-row{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  border: 1px solid black;
  border-top: none;
}

.card-ens-row > h4{
  border-right: 1px solid black;
  width: 80px;
  text-align: left;
  padding: 0.8rem 0;
}

.card-ens-row > p{
  padding: 0.8rem 0.4rem;
}

.data-vis{
  max-width: 500px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}


.recharts-wrapper{
  max-width: 350px;
}

.data-legend{
  border: 1px solid black;
  padding: 0.6rem ;
}

.legend{
  padding: 0.6rem;
  margin: 0.4rem;
}